@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;600;800&display=swap");
@import url(Cuerpo/barra2.css);



body {
  min-height: 100vh;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background: url(../img/fondo.gif);
  display: flex;
  align-items: center;
}

main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
img {
     width: 100%;
     height: 100%;
     object-fit: contain;
   }
.img__svg {
  border-radius: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07),
    0 6.7px 5.3px rgba(0, 0, 0, 0.05), 0 12.5px 10px rgba(0, 0, 0, 0.042),
    0 22.3px 17.9px rgba(0, 0, 0, 0.035), 0 41.8px 33.4px rgba(0, 0, 0, 0.028),
    0 100px 80px rgba(0, 0, 0, 0.02);
    cursor: none;
}
main .contenedor-img {
  max-width: 40%;
  margin-right: 40px;
}
.contenedor-texto {
  max-width: 60%;
}
.contenedor-texto .titulo {
  font-family: "Dosis", sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
}

.contenedor-texto .Palabras {
  font-weight: bold;
  font-family: "Dosis", sans-serif;
  color: var(--color);
  font-style: normal;
}

.contenedor-texto p {
  font-weight: 600;
  margin-bottom: 40px;
  line-height: 36px;
}



/*INICIO BOTONES */
.btn-link {
  font-weight: 600;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 100px;
  margin-right: 10px;
  background: rgb(93%, 91%, 96%);
  margin: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07),
    0 6.7px 5.3px rgba(0, 0, 0, 0.05), 0 12.5px 10px rgba(0, 0, 0, 0.042),
    0 22.3px 17.9px rgba(0, 0, 0, 0.035), 0 41.8px 33.4px rgba(0, 0, 0, 0.028),
    0 100px 80px rgba(0, 0, 0, 0.02);
  cursor: pointer;
  transition: all 400ms ease;
  color: rgb(129, 51, 245);
}

.btn-link:hover,
.btn-link.activo {
  color: #fff;
  background: var(--color);
}
.btn-link:hover {
  transform: translateY(-6%);
  color: #fff;
  background: var(--color);
}

/*FIN  BOTONES */


@media (max-width: 568px) {
  .contenedor {
    padding: 4px 5px 5px 5px;
  }
  .logo {
    color: white;
    text-align: center;
    font-weight: 800;
    background: url(../img/fondo.gif);
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .img__kali {
    display: inline-flex;
    height: 20px;
    width: 20px;
    object-fit: cover;
  }

  .menu {
    display: inline-block;
    border-radius: 0px 10px 10px 10px;
  }
  .menu a {
    align-items: center;
    margin: 4px 3px 9px;
    font-weight: bold;
    font-size: 16px;
  }
  .contenedor-texto {
    max-width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }
  .contenedor-texto p {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin: 0 5px 5px 5px;
    line-height: 36px;
    line-height: normal;
  }

  .btn-link {
    font-weight: 600;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 20px;
    margin-right: 10px;
    margin: 20px 0;
  }

  main .contenedor-img {
    max-width: 100%;
    min-width: 200px;
    margin-right: 40px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .titulo- {
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
  }

  .Palabras {
    font-weight: bold;
    font-family: "Dosis", sans-serif;
    font-style: normal;
  }

  .btn-link:hover,
  .btn-link.activo {
    font-size: 15px;
    color: #fff;
    background: url(../img/fondo.gif);
  }

  .btn-link:hover,
  .btn-link.color {
    font-size: 15px;
    color: #fff;
    background: url(../img/fondo.gif);
  }
}

@media screen and (max-width: 501px) {
  main {
    flex-direction: column;
    text-align: center;
  }
  main .contenedor-img {
    max-width: 60%;
  }
  .btn-link {
    font-size: 10px;
  }
}
