@import url(Cuerpo/barra2.css);

body{    
    background-image: url(https://media.giphy.com/media/6EpeAq0aPeD9nqU0XJ/giphy.gif);
}

  .img__kali{
      display: none;
  }




main{
    display: flex;
    justify-content: center;
}
.imgd{
  height: 18px;
  width: 18px;
}
.container {
  text-align: center;
    font-size: 18px;
    background: #000;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07),
    0 6.7px 5.3px rgba(0, 0, 0, 0.05), 0 12.5px 10px rgba(0, 0, 0, 0.042),
    0 22.3px 17.9px rgba(0, 0, 0, 0.035), 0 41.8px 33.4px rgba(0, 0, 0, 0.028),
    0 100px 80px rgba(0, 0, 0, 0.02);
    width: 100%;
    height: auto;
    overflow: hidden;
}
.container h3{
  font-weight: 600;
  margin-bottom: 10px;
}
  .containerTime {
    font-size: 15px;
    display: flex;
    justify-content: space-around;
  }
  h2{
    font-size: 20px;
    font-weight: 600;
  }
  p {
    text-align: center;
    font-size: 19px;
  }


  
  @media (max-width: 568px){
    .contenedor {
        padding: 4px 5px 5px 5px;
      }
      .img__kali {
        display: inline-flex;
        height: 20px;
        width: 20px;
        object-fit: cover;
      }
      .logo {
        color: white;
        text-align: center;
        font-weight: 800;
        background-image: url(https://media.giphy.com/media/6EpeAq0aPeD9nqU0XJ/giphy.gif);
        border-radius: 10px;
        margin-bottom: 20px;
      }
      .menu {
        display: inline-block;
        border-radius: 0px 10px 10px 10px;
      }
      .menu a {
        align-items: center;
        margin: 4px 3px 9px;
        font-weight: bold;
        font-size: 16px;
      }





      main{
        display: flex;
        justify-content: center;
    }
    .imgd{
      height: 18px;
      width: 18px;
    }
    .container {
      text-align: center;
        font-size: 18px;
        background: #000;
        color: #fff;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07),
        0 6.7px 5.3px rgba(0, 0, 0, 0.05), 0 12.5px 10px rgba(0, 0, 0, 0.042),
        0 22.3px 17.9px rgba(0, 0, 0, 0.035), 0 41.8px 33.4px rgba(0, 0, 0, 0.028),
        0 100px 80px rgba(0, 0, 0, 0.02);
        width: 100%;
        height: auto;
        overflow: hidden;
    }
      .containerTime {
        font-size: 15px;
        display: flex;
        justify-content: space-around;
      }
      h2{
        font-size: 15px;
        font-weight: 600;
      }
      p {
        text-align: center;
        font-size: 15px;
      }
    

    

  }
