@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;600;800&display=swap");

:root {
  --color: rgb(31%, 0%, 100%);
  --colortextos--morado: rgb(130, 58, 247);
  --fondodecolorparrafos--morado: rgb(93%, 91%, 96%);
  ---letra--roja: rgb(250, 70, 82);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0 20px;
  min-height: 100vh;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  background-image: url(https://media.giphy.com/media/6EpeAq0aPeD9nqU0XJ/giphy.gif);
  display: flex;
  align-items: center;
}

.contenedor {
  background-color: #fff;
  width: 90%;
  max-width: 0 auto;
  margin: 40px auto;
  padding: 40px;
  border-radius: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.logo {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}
.img__kali {
  display: none;
  height: 20px;
  height: 20px;
}
.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu a {
  font-weight: 800;
  font-size: 22px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  margin-left: 2px;
  transition: all 0.3s ease;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 50px;
  line-height: 1;
  letter-spacing: 1px;
  margin: 5px 10px 5px 0;
}

/* Inicio de la BARRA DE NAVEGACION */

.nav1 a {
  color: var(--color);
  background: rgb(93%, 91%, 96%);
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.nav1 a:hover {
  border-bottom: 2px solid var(--color);
}

.nav2 a {
  color: var(---letra--roja);
  background: rgb(100%, 87%, 88%);
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}
.nav2 a:hover {
  border-bottom: 2px solid var(---letra--roja);
}

.nav3 a {
  color: var(--colortextos--morado);
  background: rgb(93%, 91%, 96%);
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}
.nav3 a:hover {
  border-bottom: 2px solid var(--colortextos--morado);
}
.img__twitch {
  height: 20px;
  width: 20px;
  border-radius: 50% 50% 50% 0px;
}

/* FIN DE LA BARRA DE NAVEGACION */
@media (max-width: 568px) {
  body{
    margin: 0;
  }
  }
/* SCROLL Personalizado */
body::-webkit-scrollbar {
  width: 7px;
  background: #000000;
}
body::-webkit-scrollbar-thumb {
  background: var(--colorbarradenav);
  border-radius: 20px;
}
